@value makerLightGrey from "../../../common/colors.css";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: darkblue;
    padding: 0.5rem 0;
}

.text {
    color: makerLightGrey;
}
