@value makerGreen from '../../../common/colors.css';
@value makerWhite from '../../../common/colors.css';
@value makerBlack from '../../../common/colors.css';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: makerGreen;
    padding: 0.5rem 0;
    position: relative;
}

.logo {
    width: 3rem;
    height: 2rem;
}

.title {
    color: makerWhite;
    font-weight: 600;
    font-size: 2rem;
}

.logoutBtn {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 0.5rem;
    border-radius: 20%;
    background-color: makerBlack;
    color: makerWhite;
    outline: 0;
    border: 0;
    cursor: pointer;
}
